body{
    top:0;
    margin: 0;
    background-image: url('images/wine.png');
    background-color: #d5f46b;
    background-repeat: repeat-x;
    background-position: center top;
    background-size: cover;/*ảnh full màn hình*/
    background-attachment: fixed;
}
.container{
    width: 100%;
    /* border: 1px solid white; */
    max-width: 978px;
    /* height: 1000px; */
    margin: 0 auto;
}
a{
    text-decoration: none;
}
p{
    font-size: 16px;
    font-family: 'Quattrocento Sans',Helvetica,Arial,sans-serif;
}

.title:hover{
    text-decoration: underline;
}

.header{
    padding:1rem;
    padding-top: 2rem;
    background-color: #535353;
}
.title{
    font-size: 47px;
    line-height: 47px;
    font-weight: 500;
    color: #d5f46b;
    font-family: 'Alegreya Sans',Helvetica,Arial,sans-serif;
    padding: 6px 0;
}
.header-description{
    font-size: 22px;
    font-weight: 400px;
    line-height: 22px;
    color: white;
    padding: 2px 0;
    margin-bottom: 1rem;
    font-family: cccc;
}

.nav-bar{
    background-color:#303030;
}

.nav{
    display: flex;
    margin: 0;
    padding: 0;
}
.nav-item{
    padding-left: 1rem;
    padding-right: 1rem;
    list-style: none;/*bỏ dấu chấm*/
    line-height: 35px;
}
.nav-link{
    color: white;
    font-size: 16px;
    font-family: 'Quattrocento Sans',Helvetica,Arial,sans-serif;
}
.nav-link:hover{
    text-decoration: underline;
}
.active{
    font-weight: bold;
}

.main{
    padding-top: 30.4px;
    padding-left: 22px;
    display: flex;
    background-color: white;
    padding-bottom: 65px;
}
.main-left{
    /* border: 1px solid white; */
    width: 740px;
    padding: 20px 20px 20px 0;
}
.main-right{
    /* border: 1px solid white; */
    width: 240px;
}
.image{
    padding-left: 22px;
}
.image img{
    width: 100%;
    border-radius: 10px;
}

.types-of-sushi{
    padding-left: 22px;
    margin-top: 76px;
}
.types-header{
    font-size: 28px;
    font-family: 'Alegreya Sans',Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 32.8px;
}
.types-description{
    display: flex;
}
.types-image img{
    width: 332.76px;
}
.types-content{
    margin-left: 22px;
    font-family: 'Quattrocento Sans',Helvetica,Arial,sans-serif;
    font-size: 16px;
}
.share-box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px 0 rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  margin-right: 1rem;
}
.share-header{
    font-size:22px;
    font-family: 'Times New Roman',Helvetica,Arial,sans-serif;
    padding: 11px 15px;
}
.share-content{
    padding: 5.5px 15px 11px;
    display: flex;
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    font-size: 16px;
    text-decoration: underline;
}
.share-content img{
    margin-right: 8px;
}


.footer{
    background-color: white;
    height: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
hr{
    height: 1px;
    border: 0; border-top: 1.5px solid #ccc;
    margin: 0 2em; padding: 0; 
}
.page-counter{
    float: right;
    display: inline-flex;
    padding-bottom: 0;
    margin-top: 50px;
    margin-right: 2rem;
}
.number{
    border: solid 0 #000;
    font-size: 14.4px;
    font-family: Arial,Helvetica,Arial,sans-serif;
    line-height: 14.4px;
    padding: 2px 2px 1px;
    margin: 3px 2px 0 0;
    border-radius: 4px;
    box-shadow: 0 1px 2px #595959;
    text-align: center;
    font-weight: 700;
    width: 10px;
}


/* About my cake */
.menu-and-price-list{
    font-family: 'Alegreya Sans',Helvetica,Arial,sans-serif;
    font-weight: 500px;
    font-size: 28px;
    line-height: 32.8px;
    margin-bottom:30px;
}
.list table {
    width: 700px;
    font-family: 'Quattrocento Sans',Helvetica,Arial,sans-serif;
    font-size: 16px;
}
table th{
    font-weight: normal;
}
table .align-left{
    text-align: left;
}

table .align-right{
    text-align: right;
}
table th,td{
    border-top: 1px solid #cccc;
    padding: 8px;
}
.list p{
    border-bottom: 3px dotted #ccc;
}



/* Find Maria's Cafe */

.find-title{
    font-size: 28px;
    font-family: 'Alegreya Sans',Helvetica,Arial,sans-serif;
    font-weight: 500;
}
.contact-and-schedule{
    border-bottom: 3px dotted #ccc;
    margin-bottom: 1rem;
}
.contact-and-schedule{
    display: flex;
}
.find-contact{
    width: 50%;
}
.find-schedule{
    width: 50%;
}
.find-contact-header, .schedule-header{
    font-size: 22px;
    margin-top: 32px;
    font-family: 'Alegreya Sans',Helvetica,Arial,sans-serif;
}
.find-contact-header{
    margin-bottom: 27px;
}
.detail{
    margin-bottom: 32px;
}
.tell{
    margin-left: 5rem;
    text-decoration: underline;
}
.email{
    margin-left: 4rem;
    text-decoration: underline;
}
.map img{
    width: 100%;
}
